configuration {
  display-drun: "Applications";
  display-window: "Windows";
  drun-display-format: "{name}";
  font: "Maple Mono NF Regular 11";
  show-icons: false;
  /* icon-theme: "Gruvbox-Plus-Dark"; */
  /* icon-theme: "rose-pine-icons"; */
  terminal: "kitty";
}

window {
    width: 200px;
    height: 200px;
}


/* @theme "~/.config/rofi/themes/gruvbox-dark.rasi" */
@theme "~/.config/rofi/themes/rose-pine.rasi" 
